<!-- Events Section -->
<div class="alert-warning text-center   " style="padding:8px;"><b>The location has changed: All events will be at Headlands Center for the Arts</b>
</div>
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="eventButtons" class="button-group">
                    <button type="button" class="btn btn-primary btn-square btn-raised">San Francisco</button>
                    <button type="button" class="btn btn-primary btn-square btn-raised">Seoul</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="eventGallery">
                    <div class="gallery-cell text-center">
                        <div class="thumbnail">
                            <h3>San Francisco</h3>
                            <p>July 11, 2015</p>
                            <br>
                            <h4>Shuttle Bus Departures</h4>
                            <p>1:50 PM - JW Marriott Union Square</p>
                            <p>2:20 PM - Holiday Inn Golden Gateway</p>
                            <br>
                            <h4>Ceremony</h4>
                            <p>3:30 PM - Fort Barry Parade Ground</p>
                            <p>At <a href="#artCenterModal" data-toggle="modal">Headlands Center for the Arts <i class="fa fa-map-marker"></i></a></p>
                            <p>4:30 PM - Group photographs</p>
                            <br>
                            <h4>Reception and Dinner</h4>
                            <p>5:00 PM - <a href="#artCenterModal" data-toggle="modal">Headlands Center for the Arts <i class="fa fa-map-marker"></i></a></p>
                            <br>
                            <h4>Party</h4>
                            <p>8:00 PM - Headlands Center for the Arts</p>
                            <p>10:30 PM - Shuttle departs for San Francisco</p>
                            <br>
                        </div>
                    </div>
                    <div class="gallery-cell text-center">
                        <h3>Seoul</h3>
                        <p>October 2, 2015</p>
                        <div class="thumbnail">
                            <img src="https://s3.amazonaws.com/kimchimeetsbagel.com/img/shilla2.jpg" alt="Shilla Hotel" class="img-responsive">
                            <div class="caption">
                                <p>Hotel Shilla</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- Gallery end -->
            </div> <!-- Column end -->
        </div>
    </div>
</section>

<!-- Photos Section -->
{% include "photosComponent.html" ignore missing %}

<!-- Story Section -->
<section id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Story</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://s3.amazonaws.com/kimchimeetsbagel.com/ourstory/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 24, 2012</h4>
                                <h4 class="subheading">The Interview</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Youn applied for a job at the Wharton Small Business Development Center, where she was interviewed by Tom (and Leslie Mitts, who will also be in the ceremony). She passed!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://s3.amazonaws.com/kimchimeetsbagel.com/ourstory/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>October 27, 2012</h4>
                                <h4 class="subheading">First Dates</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Youn attended Tom’s Halloween pre-game and the Wharton Halloween party. Coincidentally, Youn dressed as Marilyn Monroe (American) and Tom went as the elevator guy from Gangnam Style (Korean). The sparks flew and a DFMO ensued. Later, they had an official first date at the First Friday art festival in Philly</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://s3.amazonaws.com/kimchimeetsbagel.com/ourstory/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 29, 2012</h4>
                                <h4 class="subheading">Making it Official</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Winter break, Tom went with his family to Hawaii and Youn traveled with Emma Gow, Best Woman to Costa Rica. Skype calls did not cut it, so Tom traded one tropical paradise for another and booked a last minute flight to Costa Rica. That pretty much sealed the deal</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://s3.amazonaws.com/kimchimeetsbagel.com/ourstory/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 20, 2013</h4>
                                <h4 class="subheading">Meeting the Parents<h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">By the time Tom graduated from Wharton, things were getting pretty serious. Tom and Youn traveled to Seoul to meet Youn’s family. He returned again in summer of 2014 to formally ask for Youn’s hand, and both families got together in Seoul for New Year’s 2015</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://s3.amazonaws.com/kimchimeetsbagel.com/ourstory/5-moving.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 15, 2014</h4>
                                <h4 class="subheading">Move to SF</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After Youn finished Wharton, she and Tom moved from the East Coast to their current place in San Francisco</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://s3.amazonaws.com/kimchimeetsbagel.com/ourstory/6.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>October 18, 2014</h4>
                                <h4 class="subheading">Proposal<h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Youn and Tom took a weekend wine tasting trip to Sonoma. Youn was suspicious because Tom shaved on Saturday, but she had some doubts because he wore shorts. Toward the end of a beautiful day exploring vineyards, Tom bent his exposed knee, and she said yes!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Wedding Party Section -->
<section id="people" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">People</h2>
                <h3 class="section-subheading text-muted">Wedding party and family</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="filters" class="button-group">
                    <button data-filter="*" type="button" class="btn btn-primary btn-square btn-raised">All</button>
                    <button data-filter=".bride" type="button" class="btn btn-primary btn-square btn-raised">Team Bride</button>
                    <button data-filter=".groom" type="button" class="btn btn-primary btn-square btn-raised">Team Groom</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="isotope">
                <div class="col-md-4 col-sm-6 isotope-item groom">
                    <img src="https://s3.amazonaws.com/kimchimeetsbagel.com/people/daniel2.jpg" alt="" class="img-responsive">
                    <div class="isotope-caption">
                        <h4>Daniel Payan</h4>
                        <p class="text-muted">Officiant, Best Man</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 isotope-item bride">
                    <img src="https://s3.amazonaws.com/kimchimeetsbagel.com/people/emma.jpg" alt="" class="img-responsive">
                    <div class="isotope-caption">
                        <h4>Emma Gow</h4>
                        <p class="text-muted">Best Woman</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 isotope-item groom">
                    <img src="https://s3.amazonaws.com/kimchimeetsbagel.com/people/nihal2.jpg" alt="" class="img-responsive">
                    <div class="isotope-caption">
                        <h4>Nihal Shah</h4>
                        <p class="text-muted">Best Man</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 isotope-item bride">
                    <img src="https://s3.amazonaws.com/kimchimeetsbagel.com/people/changs1.jpg" alt="" class="img-responsive">
                    <div class="isotope-caption">
                        <h4>Wonkie Chang & Mira Yim</h4>
                        <p class="text-muted">Parents of the Bride</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 isotope-item groom">
                    <img src="https://s3.amazonaws.com/kimchimeetsbagel.com/people/osbornes.jpg" alt="" class="img-responsive">
                    <div class="isotope-caption">
                        <h4>Bob & Martha Osborne</h4>
                        <p class="text-muted">Parents of the Groom</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 isotope-item bride groom">
                    <img src="https://s3.amazonaws.com/kimchimeetsbagel.com/people/sarah.jpg" alt="" class="img-responsive">
                    <div class="isotope-caption">
                        <h4>Sarah Ovsak</h4>
                        <p class="text-muted">Special Woman, Sister of the Groom</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 isotope-item bride">
                    <img src="https://s3.amazonaws.com/kimchimeetsbagel.com/people/beth.jpg" alt="" class="img-responsive">
                    <div class="isotope-caption">
                        <h4>Beth Woulfe</h4>
                        <p class="text-muted">Special Woman, Pâtissière</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 isotope-item groom bride">
                    <img src="https://s3.amazonaws.com/kimchimeetsbagel.com/people/yoon.jpg" alt="" class="img-responsive">
                    <div class="isotope-caption">
                        <h4>Yoon Cheol Chang</h4>
                        <p class="text-muted">Special Man, Brother of the Bride</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Registry Section -->
<section id="gifts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gifts</h2>
                <p>We are registered at <a href="http://www.crateandbarrel.com/gift-registry/younhyung-chang-and-tom-osborne/r5258086" target="_blank">Crate & Barrel <i class="fa fa-external-link"></i></a></p>
                <p>Or we would greatly appreciate contributions toward our honeymoon fund</p>
            </div>
        </div>
    </div>
</section>

<!-- Details Section -->
<section id="details" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Details</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Travel</h4>
                </div>
                <ul>
                    <li><p class="text-muted"><strong>Airports:</strong> San Francisco has 3 major airports: SFO, SJO and OAK</p></li>
                    <li><p class="text-muted"><strong>Shuttle Service:</strong> We are arranging shuttle service from San Francisco downtown to and from the wedding venue on Saturday. Find shuttle stops and schedule on our website closer to the date</p></li>
                    <li><p class="text-muted"><strong>Around SF:</strong> It’s hard to get a cab on the street. We recommend taxi apps, such as Uber, Lyft and Flywheel</p></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Accommmodations</h4>
                </div>
                <ul>
                    <li><p class="text-muted"><strong><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Chang/Osborne%20Wedding%20Block%5Esfojw%60cowcowa%60259%60USD%60false%607/10/15%607/12/15%606/19/15&app=resvlink&stop_mobi=yes" target="_blank">JW Marriott Union Square: <i class="fa fa-external-link"></i></a></strong> 10 rooms blocked under Chang/Osborne at $259. Must reserve by June 10th</p></li>
                    <li><p class="text-muted"><strong>W San Francisco:</strong> 3rd street in SoMa</p></li>
                    <li><p class="text-muted"><strong>Holiday Inn Golden Gateway:</strong> Van Ness Ave</p></li>
                    <li><p class="text-muted"><strong>SF Marriott Marquis:</strong> Mission St</p></li>
                    <li><p class="text-muted"><strong>Hostel at Marin Headlands:</strong> We reserved a limited number of summer camp style bunk beds in a Hostel near the venue (no cell phone reception). Please contact Tom/Youn for more details</p></li>
                </ul>
                <p class="text-muted">We may reserve additional rooms as needed, so feel free to contact us when booking</p>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What to Do</h4>
                </div>
                <ul>
                    <li><p class="text-muted">Fisherman’s Wharf, China Town, Union Sq.</p></li>
                    <li><p class="text-muted">Lombard Street</p></li>
                    <li><p class="text-muted">Ferry Building Farmers Market (Saturdays)</p></li>
                    <li><p class="text-muted">Ferry trip to Sausalito and Alcatraz</p></li>
                    <li><p class="text-muted">Fillmore Street & Marina area</p></li>
                    <li><p class="text-muted">Bike across the Golden Gate Bridge</p></li>
                    <li><p class="text-muted">Hike up to Coit Tower</p></li>
                    <li><p class="text-muted">De Young museum in Golden Gate Park</p></li>
                    <li><p class="text-muted">Lands End trails and Sutro Baths</p></li>
                    <li><p class="text-muted">Food scene in Mission St. & Hayes Valley</p>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Map Section -->
<section id="mapSection" style="padding: 0">

    <div id="map" class="map" style="width: 100%; height: 300px;"></div>

</section>

<!-- Venue Modals -->
<div class="portfolio-modal modal fade" id="bunkerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="modal-body">
                        <h2 class="section-heading">Battery Rathbone McIndoe</h2>
                        <h3 class="section-subheading text-muted">Outdoor ceremony location</h3>
                        <div class="thumbnail">
                            <iframe
                              width="100%"
                              height="450"
                              frameborder="0" style="border:0"
                              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyADxDANtkY5Jmqnw_f5fcMYZKUyiqcMeq0
                                &q=Battery+Rathbone+McIndoe&center=37.826657,-122.518327&zoom=15&maptype=satellite">
                            </iframe>

                            <div class="caption">
                                <h3>About this location</h3>
                                <p>Parking is limited. We recommend using our shuttle bus or car-pooling from San Francisco or the Headlands Center for the Arts</p>

                                <h3>In case of rain</h3>
                                <p>In the event of inclement weather, we will hold the ceremony at the Headlands Center for the Arts</p>

                                <p><strong>It may be cold and windy!</strong></p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Location</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="artCenterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="modal-body">
                        <h2 class="section-heading">Headlands Center for the Arts</h2>
                        <h3 class="section-subheading text-muted">Indoor reception location</h3>
                        <div class="thumbnail">
                            <iframe
                              width="100%"
                              height="450"
                              frameborder="0" style="border:0"
                              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyADxDANtkY5Jmqnw_f5fcMYZKUyiqcMeq0
                                &q=Headlands+Center+for+the+arts&zoom=15&maptype=satellite">
                            </iframe>

                            <div class="caption">
                                <h3>About this location</h3>
                                <p>You can park here or ride our shuttle bus</p>
                                <p>Weather permitting, the ceremony will be outdoors at the Fort Barry Parade Ground adjacent to the Arts Center<p>
                                <p><strong>There is no mobile phone reception at the venue</strong></p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Location</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Init slider and map -->
<script type="text/javascript">

    // Google map
    $('#map').gMap({
        address: "944 Simmonds Rd, Sausalito, CA 94965",
        zoom: 10,
        controls: {
         panControl: true,
         zoomControl: true,
         mapTypeControl: true,
         scaleControl: true,
         streetViewControl: false,
         overviewMapControl: true
        },
        markers: [{
            address: "944 Simmonds Rd, Sausalito, CA 94965",
            html: "<p>Headlands Center for the Arts</p>",
            popup: true
        }],
        scrollwheel: false,
    });

</script>

<script type="text/javascript">
    // initialize Flickity
    $('.gallery').flickity({
      // options
      contain: true,
      imagesLoaded: true,
      wrapAround: true,
      pageDots: true
    });
    var $eventGallery = $('#eventGallery').flickity({
      // options
      contain: true,
      imagesLoaded: true,
      wrapAround: false,
      pageDots: false,
      prevNextButtons: false,
      draggable: false
    });
      $('#eventButtons').on( 'click', '.btn', function() {
        var index = $(this).index();
        $eventGallery.flickity( 'select', index );
      });
    // initialize Isotope after all images have loaded
    var $container = $('#isotope').imagesLoaded( function() {
      $container.isotope({
        // options
        itemSelector: '.isotope-item',
        layoutMode: 'fitRows',
      });
    });

    // filter items on button click
    $('#filters').on( 'click', 'button', function() {
        var filterValue = $(this).attr('data-filter');
        $container.isotope({ filter: filterValue });
    });
</script>


