<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Kimchi Meets Bagel - Youn and Tom are getting married">
    <meta name="author" content="Kimchi Meets Bagel">

    <title>Kimchi Meets Bagel</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/agency.css" rel="stylesheet">
    <link href="/static/css/flickity.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet">

    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Kimchi <span class="glyphicon glyphicon-heart"></span> Bagel</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#events">Events</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#photos">Photos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#story">Story</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#people">People</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#gifts">Gifts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#details">Details</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><strong>Youn</strong> & <strong>Tom</strong></div>
                <div class="intro-lead-in">Are Getting Married!</div>

                {% if not current_user.is_authenticated() %}
                    <!-- Login form -->
                    <div id="loginpanel" class="panel" style="max-width: 400px; padding: 25px; margin-left: auto; margin-right:auto;">
                        <h3><strong>Enter the secret code</strong></h3>
                        <p>You need a secret code to see details</p>
                        <form id="loginform">
                            <input id="password" name="password" type="text" class="form-control" placeholder="Secret code" aria-describedby="sizing-addon1" style="display: inlne-block; margin-top: 20px; margin-bottom: 20px; padding: 15px;">
                            <button id="login" class="btn btn-xl" style="display: inline-block;" type="submit">Open Sesame!</button>
                        </form>
                      </div>
                    </div> <!-- End of login form -->
                {% else %}
                    <a href="#events" class="page-scroll btn btn-xl">Tell Me More</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div id="placeholder">
        <!-- AJAX content will go here -->
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Kimchi Meets Bagel</p>

                    {% if current_user.is_authenticated() %}
                      <p> Hi {{ current_user.display_name }}!
                      <br><a href="/logout">logout</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>


    </body>
</html>

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/vendor/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/vendor/classie.js"></script>
    <script src="/static/js/vendor/cbpAnimatedHeader.js"></script>
    <script src="/static/js/vendor/flickity.pkgd.min.js"></script>
    <script src="/static/js/vendor/isotope.pkgd.min.js"></script>
    <script src="/static/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/static/js/vendor/jquery.gmap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/agency.js"></script>
    <script src="/static/js/main.js"></script>

    <!-- Custom JavaScript -->
    {% if current_user.is_authenticated() %}
        <!-- Ajax load remaining content for logged in user -->
        <script type="text/javascript">
            get_details();
        </script>
    {% endif %}

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59213923-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>

</html>
